.retour{
    margin-left: 48.5em;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(20, 197, 220);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
}
.retour:hover {
    background-color: darkred;
    transform: scale(1.05);
}
body{
    font-family: "Google Sans Code", monospace;
    font-size: 22px;
}
