body{
    background-color: antiquewhite;
    color: black;
}

h1{
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(20, 197, 220);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
    margin: 10px;
}
.btn:hover {
    background-color: darkred;
    transform: scale(1.05);
}
.darkmode{
    background-color: #070b1d;
    color: beige;
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right:20px;
}
#theme-switch svg{
    fill: rgb(0, 0, 0);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}