h1{
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.2s;
    margin: 10px;
}

.btn:hover {
    background-color: darkred;
    transform: scale(1.05);
}