.darkmode .ascii{
    background-color: antiquewhite;
    width: 47em;
}
body{
    font-family: "Google Sans Code", monospace;
    font-size: 22px;
    
}

img{
    margin-left: auto;
    margin-right: auto;
}
a{
    color: darkblue;
}